 {% load static %}

<!--<!doctype html>-->

<html lang="pl-PL">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Robert Kalinowski, Wojtek Wawrzyniak">

    <title>
        SportsMate
    </title>

    <!-- Plik CSS - Bootstrap -->
    <link href="{% static 'css/dependencies/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Plik CSS - Aplikacja -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  </head>

  <body>

    <header>
        <div class="login-layout">
            <h1><a href="../../">SMate</a></h1>
        {% block main-header %}
        {% if not user.is_authenticated %}
<!--        <h2>Login</h2>-->
            <div class="middle-login-group">
                <form method="post" class="inline-form" role="form" action="{% url 'login' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
        <!--            <div class="form-group">-->
                      <input type="text" placeholder="username" class="form" name="username" autofocus="" required="" id="id_username">
        <!--            </div>-->
        <!--            <div class="form-group">-->
                      <input type="password" placeholder="password" class="form" name="password" required="" id="id_password">
        <!--            </div>-->
                    <a class="nav-link"><button type="submit" class="btn btn-primary">Submit</button></a>
                </form>
                    <a class="nav-link" href="{% url 'signup' %}"><button type="submit" class="btn btn-success">Sign up</button></a>

        <!--                <button type="submit" class="btn btn-primary">Submit</button>-->

        <!--                <button type="submit" href="{% url 'signup' %}" class="btn btn-success">Sign up</button>-->

<!--            </li>-->
            </div>
        {% else %}
                    <!-- Zalogowany użytkownik -->
        <!--            <li class="nav-item">-->
            <a class="nav-link" href="{% url 'panel' %}">Panel</a>



<!--            <li class="nav-item">-->
              <a class="nav-link" href="{% url 'settings' %}">Ustawienia</a>
<!--            </li>-->

<!--            <li class="nav-item">-->
              <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
<!--            </li>-->
        {% endif %}
        {% endblock %}
              <div>

                <a><img class="img-button" src="{% static 'icons/iconfinder_Ball_football_sport_soccer_game_1_4843027.png' %}" height="42" width="42"></a>
                <a><img class="img-button" src="{% static 'icons/iconfinder_Ball_basketball_sports_game_play_4843006.png' %}" height="42" width="42"></a>
                <a><img class="img-button" src="{% static 'icons/iconfinder_Ball_game_sports_table_tennis_4843044.png' %}" height="42" width="42"></a>
                <a><img class="img-button" src="{% static 'icons/iconfinder_Ball_sport_volleyball_game_beach_4843010.png' %}" height="42" width="42"></a>
                <a><img class="img-button" src="{% static 'icons/iconfinder_billiard_pool_sport_game_ball_4843016.png' %}" height="42" width="42"></a>

              </div>
        </div>

    </header>


    <main role="main" class="container">

      <!-- Zawartość strony -->

      <div class="row">
        <div class="col-sm-12 text-center messages">

            <!-- Powiadomienia -->

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>

      </div>


        <!-- Zawartość strony -->
        {% block site_title %}
        {% endblock %}
        {% block content %}
        {% endblock %}

    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">SportsMate</span>
          <span class="text-muted">Kontakt</span>
      </div>

    </footer>


    <!-- Plik JS - jQuery -->
    <script src="{% static 'js/dependencies/jquery-3.3.1.slim.min.js' %}"></script>

    <!-- Plik JS - Popper -->
    <script src="{% static 'js/dependencies/popper.min.js' %}"></script>

    <!-- Plik JS - Bootstrap -->
    <script src="{% static 'js/dependencies/bootstrap.min.js' %}"></script>

    <!-- Plik JS - Aplikacja -->
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>