{% extends 'core/base.html' %}
    <!-- Etykieta strony -->
{% block site_title %}
    <h4>
        Ulubione Dyscypliny
    </h4>
{% endblock %}
    <!-- Zawartość strony -->
{% block content %}
    <hr>
    <div>
        <a href="{% url 'addevent' %}"><button>Dodaj wydarzenie</button></a>
<!--        <a href="/addevent/"><button>Dodaj wydarzenie</button></a>-->
<!--        <button onclick="location.href=/addevent/">Dodaj wydarzenie</button>-->
    </div>
    <div class="row">
        <p><h4>Moje wydarzenia:</h4></p>
    </div>
    <hr>
    <div class="row">
        <p><h4>wydarzenia zapisane:</h4></p>
    </div>
{% endblock %}