{% extends 'core/base.html' %}
    <!-- Etykieta strony -->
{% block site_title %}
    <h4>
        Ulubione Dyscypliny
    </h4>
{% endblock %}
    <!-- Zawartość strony -->
{% block content %}
    <hr>
    <div>
        <a href="{% url 'addevent' %}"><button>Dodaj wydarzenie</button></a>
<!--        <a href="/addevent/"><button>Dodaj wydarzenie</button></a>-->
<!--        <button onclick="location.href=/addevent/">Dodaj wydarzenie</button>-->
    </div>
    <div class="row">
        <p><h4>Moje wydarzenia:</h4></p>
    </div>
    <div>
        <p><h5> what | Where | When | Exp. level</h5></p>
    </div>
    <div style="float: left;">
            <div>
            {% for event in events %}
<!--            <p>{{ event.what }} | {{ event.where }} | {{ event.when }} | {{ event.explevel }}</p>-->
<!--                <tr>-->
<!--                    <td>{{ event.what }}</td>-->
<!--                    <td>{{ event.where }}</td>-->
<!--                    <td>{{ event.when }}</td>-->
<!--                    <td>{{ event.explevel }}</td>-->
<!--                    <td><a><button class="del-event">Usuń wydarzenie</button></a></td>-->
<!--                </tr>-->
                <p class="events-list events-list-background">{{ event.what }} | {{ event.where }} | {{ event.when }} | {{ event.explevel }} </p>
            {% endfor %}
            </div>
    </div>
    <div>
        {% if user.is_authenticated %}
            {% for event in event %}
                <p class="events-list"><a><button class="sign-event">Zapisz się</button></a></p>
            {% endfor %}
        {% endif %}
<!--        {% for event in events %}-->
<!--            <p class="events-list"><a><button class="del-event">Usuń wydarzenie</button></a></p>-->
<!--        {% endfor %}-->
    </div>

    <hr>
    <div class="row">
        <p><h4>wydarzenia zapisane:</h4></p>
    </div>
{% endblock %}
